# Nexusia — Variables de entorno
SUPABASE_URL=https://tolzqxflecqbjdefohom.supabase.co
SUPABASE_SERVICE_KEY=tu_service_key
ADMIN_CODE=joan123
ADMOB_REFRESH_TOKEN=
ADMOB_PUBLISHER_ID=pub-4903263409458961